*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.brown{
    background-color: brown;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.black{
    background-color: black;
}




body{
    height: 100vh;
   background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 84%);
   color: white;
   
}
.modal-result{
    display: none;
    width: 80%;
    height: 70vh;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color:rgba(102, 101, 101, 0.822);
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
    color: rgb(234, 229, 229);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.modal-result button{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgb(2, 2, 82);

}

.result{
    
   
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}
.info-icon{
    color: white;
   font-size: 2rem;
    
}
main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
}
aside{
    width: 20%;
    box-shadow: 10px 5px 5px 10px rgb(2, 2, 82);
    height: 88vh;
}
aside h2{
    text-align: center;
    margin-bottom: 0.5rem;
}
aside button{
    margin-bottom: 1rem;
}
.ticket{
    padding: 0.2rem 1rem;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;

}
.ticket li{
    width: 15%;
    font-size: 1.4rem;
    padding: 0.2rem;
    border: 2px solid whitesmoke;
    text-align: center;
    border-radius: 5px;

}
.main-content{
    width: 70%;
}
.drum-container{
   display: flex;
   justify-content: space-around;
   gap: 1.5rem;
   background: rgba(0, 0, 0, 0.195);
   box-shadow: 10px 5px 5px rgb(2, 2, 82);
   border-radius: 2%;
   margin-bottom: 1rem;
   padding: 0.5rem;
   
}
.first-five{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ball{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.ball img{
    width: 100%;
}
.ball-1{
    grid-column: 4;
}
.animation-holder {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 12px;
    gap: 24px;
}
.animation {
    width: 100%;
    height: 180px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    background-image: url(../Images/bubanj.gif);
    background-size: cover;
    background-position: center;
    
}
.main-ball {
    width: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: all 0.5s;
}





.balls-holder{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    gap: 0.8rem;
}
.selection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.pick-by-numbers{
    width: 60%;
   
}
.selection h3{
    margin-bottom: 1rem;
}
.pick-by-color{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    justify-items: start;
    align-items: center;

}

.number{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.colors{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border :2px solid white;
}
.btns{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
button{
    width: 100%;
    padding: 1rem;
    background: transparent;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}

